/* styles.css */

*{
    margin: 0;
    padding: 0;
}


:root {
    /* dit zijn alle kleuren die de officiele website van NS ook gebruikt */
    --blue-dark: rgb(0, 48, 130);
    --blue-medium: rgb(0, 75, 160);
    --blue-light: rgb(0, 99, 211);
    --blue-very-light: rgb(224, 232, 242);
    --blue-ultra-light: rgb(230, 242, 251);
    --yellow-dark: rgb(255, 201, 23);
    --yellow-medium: rgb(255, 181, 25);
    --green-dark: rgb(0, 138, 57);
    --purple-dark: rgb(108, 89, 177);
    --red-dark: rgb(219, 0, 41);
    --orange-dark: rgb(233, 109, 0);
    --blue-deep: rgba(7, 7, 33, 1);
    --blue-darker: rgba(31, 31, 55, 1);
    --gray-dark: rgba(57, 57, 77, 1);
    --gray-medium: rgba(106, 106, 122, 1);
    --gray-light: rgba(156, 156, 169, 1);
    --gray-lighter: rgba(205, 205, 211, 1);
    --gray-ultra-light: rgba(230, 230, 242, 1);
    --white: rgb(255, 255, 255);
    --red-bright: rgb(236, 0, 69);
    --orange-bright: rgb(254, 98, 0);
    --teal-dark: rgb(0, 170, 137);
    --teal-medium: rgb(0, 134, 112);
    --gray-neutral: rgb(109, 110, 112);
    --purple-bright: rgb(201, 0, 232);
  
    /* Gradients */
    --gradient-yellow-orange: linear-gradient(90deg, var(--yellow-dark), rgb(255, 218, 98));
    --gradient-yellow-orange-diag: linear-gradient(135deg, var(--yellow-dark), rgb(255, 227, 138));
    --gradient-yellow-fade: radial-gradient(circle, rgb(255, 215, 82) 0%, var(--yellow-dark) 100%);
    --gradient-yellow-fade-reverse: linear-gradient(90deg, var(--yellow-dark) 1.7%, rgba(255, 201, 23, 0) 100%);
    --gradient-blue-fade: linear-gradient(90deg, var(--blue-dark), rgba(0, 48, 130, 0) 100%);
    --gradient-blue-medium: linear-gradient(90deg, rgb(0, 80, 168), rgb(0, 121, 211));
    --gradient-blue-light: linear-gradient(90deg, rgb(148, 220, 246), var(--blue-ultra-light));
    --gradient-blue-soft: linear-gradient(135deg, rgb(148, 220, 246), rgb(198, 237, 253));
    --gradient-white-gray: radial-gradient(circle, rgb(244, 251, 249) 0%, rgb(219, 245, 240) 100%);
    --gradient-darken: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    --gradient-lighten: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    --gradient-white-fade: linear-gradient(90deg, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
    --gradient-blue-strong: radial-gradient(circle, rgb(42, 128, 225) 0%, var(--blue-light) 100%);
  }
  

  header{
    size: 10vw;
    background-color: var(--gray-ultra-light);
    color: var(--blue-medium);
    padding: none;
    border: none;
    background-image: var(--gray-ultra-light);
  }

  .headerStyling{
    width: 30%;  /* Stel de breedte in naar wens */
    max-width: 1200px;  /* Stel de maximale breedte in */
    margin: 0px auto;  /* Maakt de container in het midden */
    padding: 40px;
    background-color: var(--yellow-dark);  /* Lichte achtergrondkleur voor de container */
  }

  body{
    background-color: var(--yellow-dark);
    color: var(--blue-dark);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  h1{
    color: var(--blue-dark);
    font-size: 2em;
    text-align: center;
  }

  p{
    color: var(--blue-dark);
    font-size: 1.5em;
    padding: 1vw;
    margin: 1vw;
  }

  h2{
    color: var(--blue-dark);
    font-size: 1.5em;
    padding: 1vw;
    margin: 1vw;
  }

  :disabled{
    background: hidden;
  }


  .container {

    width: 80%;  /* Stel de breedte in naar wens */
    max-width: 1200px;  /* Stel de maximale breedte in */
    margin: 20px auto;  /* Maakt de container in het midden */
    padding: 20px;
    background-color: var(--gray-ultra-light);  /* Lichte achtergrondkleur voor de container */
    border-radius: 8px;  /* Afgeronde hoeken */
  }

  

